<ion-view title="Add Meeting">
	<ion-content id="ty-add-meeting">
		<div class="ty-add-form">
			<a href="#/tab/friend_list"><div class="row ty-divider">
				<div class="col">
					<div class="ty-prof-pic-list ty-prof-pic" style="background-image:url('https://www.dropbox.com/s/rpz7pg7wmbte16k/me.jpg?raw=1');background-size:cover;"></div>
				</div>
				<div class="col col-75 ty-friend">
					<h2 class="ty-caps"><em>Sloth Person</em></h2>
					<p>New York, US</p>
				</div>
			</div></a>
			
			<div class="ty-meeting-form">
				<div class="row">
					<div class="col col-50 ty-start-date">
						<label class="item item-input item-stacked-label">
							<span class="ty-field-name ty-caps ty-input-label" id="ty-date-input">
								<div class="ty-form-icon">
									<p class="ty-vertical icon-left ion-calendar"></p>
								</div>
								When
								<div class="ty-date-label"><p>Date</p></div>
							</span>
							<input class="ty-input-label" type="date" placeholder="Start date" id="start-date">
						</label>
					</div>
					<div class="col col-50 ty-end-date">
						<label class="item item-input item-stacked-label">
							<span class="ty-field-name ty-caps ty-input-label" style="color:#fff;">
								End
								<div class="ty-date-label"><p>Time</p></div>
							</span>
							<input class="ty-input-label" type="time" placeholder="End date" id="end-date">
						</label>
					</div>
				</div>
				
				<div class="row">
					<div class="col">
						<label class="item item-input item-stacked-label">
							<span class="ty-field-name ty-caps ty-input-label">
								<div class="ty-form-icon">
									<p class="ty-vertical icon-left ion-location"></p>
								</div>
								Where
							</span>
							<input class="ty-input-label" type="text" placeholder="City or zipcode" id="cityTextField">
						</label>
					</div>
				</div>
			</div>
		</div>
		
		<a class="ty-done-centered ty-caps ty-button button button-small" ng-click="makeTrip()" href="#">Done</a>
		
	</ion-content>
</ion-view>