<ion-view title="Calendar">
	<!--<div class="row ty-tabs bar bar-subheader">
		<div class="col ty-tab-selected"><h2 class="ty-vertical ty-caps">Scheduled</h2></div>
		<div class="col ty-tab"><h2 class="ty-vertical ty-caps">Requests</h2></div>
		<div class="col ty-tab"><h2 class="ty-vertical ty-caps">Past</h2></div>
	</div>-->
    <ion-content class="ty-calendar">
			<div class="ty-meeting">
				<div class="row ty-meeting-top">
					<!-- Profile -->
					<div class="col col-25">
						<div class="ty-prof-pic-list ty-prof-pic " style="background-image:url('https://www.dropbox.com/s/rpz7pg7wmbte16k/me.jpg?raw=1');background-size:cover;"></div>
					</div>
					
					<!-- Name, date, & time -->
					<div class="col col-50">
						<div class="ty-meeting-info">
							<h2 class="ty-caps">Sloth Person</h2>
							<h6>Mon, Aug 31 at 2:00pm</h6><br/>
						</div>
					</div>

					<!-- Month & day -->
					<div class="col">
						<div class="ty-date">
							<div class="ty-month"><h2 class="ty-caps">Aug</h2></div>
							<div class="ty-day"><h2 class="ty-caps">31</h2></div>
						</div>
					</div>
				</div>
			
				<!-- Location -->
				<div class="ty-meeting-location">
					<div class="row ty-divider">
						<div class="col"></div>
						<div class="col col-75">
							<h6>Rainforest Cafe</h6>
							<p>The last tree on the left, after the river mouth, beyond the purple mushrooms</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="ty-meeting">
				<div class="row ty-meeting-top">
					<!-- Profile -->
					<div class="col col-25">
						<div class="ty-prof-pic-list ty-prof-pic " style="background-image:url('https://www.dropbox.com/s/rpz7pg7wmbte16k/me.jpg?raw=1');background-size:cover;"></div>
					</div>
					
					<!-- Name, date, & time -->
					<div class="col col-50">
						<div class="ty-meeting-info">
							<h2 class="ty-caps">Sloth Person</h2>
							<h6>Tue, Sep 01 at 1:45pm</h6><br/>
						</div>
					</div>

					<!-- Month & day -->
					<div class="col">
						<div class="ty-date">
							<div class="ty-month"><h2 class="ty-caps">Sep</h2></div>
							<div class="ty-day"><h2 class="ty-caps">01</h2></div>
						</div>
					</div>
				</div>
			
				<!-- Location -->
				<div class="ty-meeting-location">
					<div class="row ty-divider">
						<div class="col"></div>
						<div class="col col-75">
							<h6>The Place</h6>
							<p>5555 You Know Where St., That One City</p>
						</div>
					</div>
				</div>
			</div>
	</ion-content>

	<a class="ty-caps ty-button ty-add-button button icon icon-left ion-plus-circled" menu-close href="#/tab/trips">Add Meeting</a>
</ion-view>