<ion-view cache-view="false" title="Calendar">
    <ion-content class="ty-calendar">
		<!--------------- MEETING REQUESTS ---------------->
		<div class="row ty-meeting-requests ty-divider">
			<div class="col col-75">
				<h2>You have <em>{{requestNum}}</em> {{requestText}}</h2>
			</div>
			<div class="col">
				<a class="ty-view-button ty-done-centered ty-caps ty-button button button-small" href="#/tab/requests">View</a>
			</div>
		</div>
		
		<!--------------- MEETINGS LIST ---------------->
		<div class="ty-meeting" ng-repeat="meeting in meetings">
			<div class="row ty-meeting-top">
				<!-- Profile -->
				<div class="col col-25">
					<div class="ty-prof-pic-list ty-prof-pic " style="background-image:url({{meeting.picFull}});background-size:cover;"></div>
				</div>
				
				<!-- Name, date, & time -->
				<div class="col col-50">
					<div class="ty-meeting-info">
						<h2 class="ty-caps">{{meeting.name}}</h2>
						<h6>{{meeting.date}} at {{meeting.time}}</h6><br/>
					</div>
				</div>

				<!-- Month and day -->
				<div class="col">
					<div class="ty-date">
						<div class="ty-month"><h2 class="ty-caps">{{meeting.month}}</h2></div>
						<div class="ty-day"><h2 class="ty-caps">{{meeting.day}}</h2></div>
					</div>
				</div>
			</div>
		
			<!-- Location -->
			<div class="ty-meeting-location">
				<div class="row ty-divider">
					<div class="col"></div>
					<div class="col col-75">
						<h6>{{meeting.place}}</h6>
						<p>The last tree on the left, after the river mouth, beyond the purple mushrooms</p>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	
	<!--------------- EMPTY MEETINGS ---------------->
	<div id="ty-meeting-empty" style="visibility: hidden">
		<div class="ty-transparent">
			<div id="ty-empty-text" class="ty-caps">
				<h2>You don't have any meetings yet.</h2>
				<p>Make plans with your friends now.</p>
			</div>
			<img id="ty-trip-arrow" src="img/arrow2.svg" />
			<img id="ty-luggage" src="https://www.dropbox.com/s/13r971gzukk9cal/luggage.png?raw=1" />
		</div>
	</div>
	
	<!--------------- ADD MEETINGS BUTTON ---------------->
	<a class="ty-add-meeting-button ty-caps ty-button ty-add-button button icon icon-left ion-plus-circled" menu-close href="#/tab/add_meeting">Add Meeting</a>
	
	<!-- Empty friend list -->
	<!-- Display when no connections have been made and hide ADD MEETING button -->
	<ion-content class="ty-friend-empty">
		<div class="ty-connect-empty-img">
			<img src="img/sadface.svg" />
		</div>
		<div class="ty-connect-empty-text">
			<h2 class="ty-caps">You don't have any connections yet</h2>
			<div class="ty-subtitle"><h2>It seems you don't have any friends yet! Get out there and get connected!</h2></div>
		</div>
	</ion-content>
</ion-view>