<ion-view title="Sloth Person">
    <ion-content class="ty-chatroom" padding="false">
        <div class="row">
			<div class="col">
				<p class="ty-timestamp">Sat, 8:05 PM</p>
			</div>
		</div>
        <div class="row">
			<div class="col col-20">
				<div class="ty-msg-pic">
					<div class="ty-prof-pic-list" style="background-image:url('https://www.dropbox.com/s/rpz7pg7wmbte16k/me.jpg?raw=1');background-size:cover;"></div>
				</div>
			</div>
				<div class="col col-80">
					<div class="ty-message-bubble ty-other-person">
						<p>This is a message.</p>
					</div>
				</div>
		</div>

		<div class="row">
			<div class="col col-10">
			</div>
			<div class="col col-90">
				<div class="ty-message-bubble ty-me">
					<p>This is a message. This is a message.This is a message.This is a message.This is a message.This is a message.This is a message.why am i talking to myself</p>
				</div>
			</div>
			<!--<div class="col col-20">
				<div class="ty-msg-pic ty-my-pic">
					<div class="ty-prof-pic-list" style="background-image:url('https://www.dropbox.com/s/rpz7pg7wmbte16k/me.jpg?raw=1');background-size:cover;"></div>
				</div>
			</div>-->
		</div>
    </ion-content>
	
	<!--<div class="ty-msg-box">
		<div class="ty-type-msg">
			<textarea id="ty-chatbox" placeholder="Type your message here.."></textarea>
		</div>
		<div class="ty-msg-actions">
			<p class="icon ion-paper-airplane"></p>
			<p class="icon ion-happy-outline"></p>
		</div>
	</div>-->
</ion-view>