<ion-view title={{other.name}}>
    <ion-content class="ty-chatroom" padding="false" scrollbary="true">
		<div class = "message" ng-repeat="message in messages">
			<!-- Timestamp template -->
			<div class="row">
				<div class="col">
					<p class="ty-timestamp">{{message.time}}</p>
				</div>
			</div>
			
			<!-- Other user template -->
			<div class="row">
				<div class="col col-20">
					<div class="ty-msg-pic">
						<div class="ty-prof-pic-list" style="background-image:url({{message.pic}});background-size:cover;"></div>
					</div>
				</div>
				<div class="col col-80">
					<div class="ty-message-bubble" ng-class="message.class">
						<p>{{message.message}}</p>
					</div>
				</div>
			</div>
		</div>
    </ion-content>

	<ion-footer-bar keyboard-attach class="ty-chat-bar bar-stable item-input-inset">
		<label class="item-input-wrapper">
			<input id="textbox" class="ty-chat-field" type="text" placeholder="Type your message" on-return="sendMessage()" ng-model="inputMessage" on-focus="inputUp()" on-blur="inputDown()" />
		</label>
		<button class="ty-send-button
		button button-clear icon ion-ios-paperplane-outline" ng-click="sendMessage()">
		</button>
	</ion-footer-bar>
</ion-view>