<ion-view title="Sloth Person">
    <ion-content class="ty-chatroom" padding="false" scrollbary="true">
		<div class = "message" ng-repeat="message in messages">
			<!-- Timestamp template -->
			<div class="row">
				<div class="col">
					<p class="ty-timestamp">{{message.time}}</p>
				</div>
			</div>
			
			<!-- Other user template -->
			<div class="row">
				<div class="col col-20">
					<div class="ty-msg-pic">
						<div class="ty-prof-pic-list" style="background-image:url({{message.pic}});background-size:cover;"></div>
					</div>
				</div>
				<div class="col col-80">
					<div class="ty-message-bubble ty-other-person">
						<p>{{message.message}}</p>
					</div>
				</div>
			</div>
		</div>
    </ion-content>
	<ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
		<label class="item-input-wrapper">
			<input type="text" placeholder="Type your message" on-return="sendMessage()" ng-model="inputMessage" on-focus="inputUp()" on-blur="inputDown()" />
		</label>
		<button class="button button-clear" ng-click="sendMessage()">
			Send
		</button>
	</ion-footer-bar>
	<!--<div class="ty-msg-box">
		<div class="ty-type-msg">
			<textarea id="ty-chatbox" placeholder="Type your message here.."></textarea>
		</div>
		<div class="ty-msg-actions">
			<p class="icon ion-paper-airplane"></p>
			<p class="icon ion-happy-outline"></p>
		</div>
	</div>-->
</ion-view>