<ion-view cache-view="false" title="Connect">
	<!--------------- DELETE BUTTON ---------------->
	<!-- Trash can icon in top right corner -->
	<ion-nav-buttons side="right">
		<p class="ty-header-icon icon icon-right ion-trash-b" id="ty-delete-trip" ng-click="deleteTrips()"></p>
    </ion-nav-buttons>
	
	<!--------------- TRIPS LIST ---------------->
    <ion-content padding="false">
        <div class="card" ng-repeat="trip in trips">
			<!-- Background image of city -->
            <div class="item item-text-wrap" id={{trip.id}} ng-click="goToMatch('{{trip.dateString}}',{{trip.id}}, '{{trip.city}}','{{trip.country}}')" style="background-image:url({{trip.backgroundImage}});background-size:auto 100%;">
				<!-- Trip/Hometown icon -->
				<div class="ty-circle-container ty-trip-icon-container">
					<div class={{trip.tripClass}}>
						<p class={{trip.icon}}></p>
					</div>
				</div>
				
				<!-- Overlay for deleting trips -->
				<div class="ty-checkbox-placeholder"></div>
				<div class="ty-delete-overlay" ng-click="deleteSelect(trip.id)"></div>
				
				<!-- Location and date -->
				<div class="ty-connect-location">
					<h2 class="ty-caps">{{trip.displayString}}</h2>
					<h6>{{trip.dateString}}</h6>
					<div class="ty-vertical ty-trip-next icon ion-chevron-right"></div>
				</div>
            </div>
        </div>
	</ion-content>
	
	<!--------------- EMPTY TRIPS ---------------->
	<div id="ty-connect-empty" style="visibility: hidden">
		<div class="ty-transparent">
			<div id="ty-empty-text" class="ty-caps">
				<h2>You haven't added any trips yet.</h2>
				<p>Pack your bags and add one now.</p>
			</div>
			<!-- Arrow pointing to ADD TRIPS button -->
			<img id="ty-trip-arrow" src="img/arrow.svg" />
		</div>
	</div>
	
	<!-- ADD TRIP button -->
	<a class="ty-caps ty-button ty-add-button button icon icon-left ion-plus-circled" menu-close href="#/tab/connect2">Add Trip</a>
	
	<!-- DELETE TRIP button -->
	<a class="ty-caps ty-button ty-delete-button button icon icon-left ion-close-circled" menu-close ng-click="hideTrip()">Delete 0 Trips</a>
	<!--</div>-->
</ion-view>