<ion-view cache-view="false" title="Connect">
    <ion-content padding="false">
        <div class="card" ng-repeat="trip in trips">
            <div class="item item-text-wrap" style="background-image:url({{trip.backgroundImage}});background-size:auto 100%;">
				<!-- Trip Icon -->
				<div class="ty-circle-container ty-trip-icon-container">
					<div class={{trip.tripClass}}>
						<p class={{trip.icon}}></p>
					</div>
				</div>
				<div class="ty-connect-location">
					<h2 class="ty-caps">{{trip.displayString}}</h2>
					<H6>{{trip.dateString}}</H6>
					<div class="ty-vertical ty-trip-next icon ion-chevron-right"></div>
				</div>
            </div>
        </div>
	</ion-content>
        <!--<div class="card">
            <div class="item item-text-wrap" style="background-image:url('http://kawaiikrew.net/www/img/Amsterdam.png'); background-size:auto 100%;">
				<div class="ty-circle-container ty-trip-icon-container">
					<div class="ty-trip-icon ty-trip ty-vertical">
						<p class="ty-vertical icon ion-plane"></p>
					</div>
				</div>
				<div class="ty-connect-location">
					<h2 class="ty-caps">New York, US</h2>
					<H6>Nov 01 - Nov 07</H6>
					<div class="ty-vertical ty-trip-next icon ion-chevron-right"></div>
				</div>
                <div style="visibility: hidden">Hello</div>
                <div style="visibility: hidden">World</div>
            </div>
		</div>
		
        <div class="card">
            <div class="ty-img-overlay item item-text-wrap" style="background-image:url('http://kawaiikrew.net/www/img/Hong%20Kong.png'); background-size:auto 100%;">
				<div class="ty-circle-container ty-trip-icon-container">
					<div class="ty-trip-icon ty-trip ty-vertical">
						<p class="ty-vertical icon ion-plane"></p>
					</div>
				</div>
				<div class="ty-connect-location">
					<h2 class="ty-caps">Beijing, China</h2>
					<H6>Dec 10 - Jan 02</H6>
					<div class="ty-vertical ty-trip-next icon ion-chevron-right"></div>
				</div>
                <div style="visibility: hidden">Hello</div>
                <div style="visibility: hidden">World</div>
            </div>
        </div>
		
		<div class="card">
            <div class="ty-img-overlay item item-text-wrap" style="background-color:#000;">
				<div class="ty-circle-container ty-trip-icon-container">
					<div class="ty-trip-icon ty-trip ty-vertical">
						<p class="ty-vertical icon ion-plane"></p>
					</div>
				</div>
				<div class="ty-connect-location">
					<h2 class="ty-caps">Black Background</h2>
					<H6>I'm here to test legibility on a dark BG</H6>
					<div class="ty-vertical ty-trip-next icon ion-chevron-right"></div>
				</div>
                <div style="visibility: hidden">Hello</div>
                <div style="visibility: hidden">World</div>
            </div>
            </div>
        </div> 
    </ion-content>
	
	<div id="ty-connect-empty" style="visibility: hidden">
		<div class="ty-transparent">
			<div id="ty-empty-text" class="ty-caps">
				<h2>You have no trips planned.</h2>
				<p>Pack your bags and plan one now.</p>
			</div>
			<img id="ty-trip-arrow" src="https://www.dropbox.com/s/r9qpf13i3snr6nc/arrow.png?raw=1" />
			<img id="ty-luggage" src="https://www.dropbox.com/s/13r971gzukk9cal/luggage.png?raw=1" />
		</div>
	</div>-->
		
		<a class="ty-caps ty-button ty-add-button button icon icon-left ion-plus-circled" menu-close href="#/tab/connect2">Add Trip</a>
	<!--</div>-->
	
</ion-view>