<ion-view title="Edit Profile">
	<!--------------- EDIT PROFILE FORM ---------------->
	<ion-content class="ty-edit-profile">
		<div class="ty-add-form">
			<!-- Edit profile picture -->
			<a href="#"><div class="row ty-divider">
				<div class="col">
					<div class="ty-prof-pic-list ty-prof-pic" style="background-image:url('https://www.dropbox.com/s/rpz7pg7wmbte16k/me.jpg?raw=1');background-size:cover;"></div>
				</div>
				<div class="col col-75 ty-friend ty-edit-prof-pic">
					<div class="ty-field-name ty-caps ty-change-pic">Profile Picture</div>
				</div>
			</div></a>
			
			<div class="ty-meeting-form">
				
				<!-- Hometown -->
				<div class="row">
					<div class="col">
						<label class="item item-input item-stacked-label">
							<span class="ty-field-name ty-caps ty-input-label">
								<div class="ty-prof-icon">
									<p class="ty-vertical ion-home"></p>
								</div>
								<!--<div class="ty-prof-icon">
									<p class="ty-vertical icon ion-home"></p>
								</div>-->
								Hometown
							</span>
							<input class="ty-input-label" type="text" placeholder="The Amazon" id="cityTextField">
						</label>
					</div>
				</div>
				
				<!-- Languages -->
				<div class="row">
					<div class="col">
						<label class="item item-input item-stacked-label">
							<span class="ty-field-name ty-caps ty-input-label">
								<div class="ty-prof-icon">
									<p class="ty-vertical ion-chatbubbles"></p>
								</div>
								Languages
							</span>
							<textarea rows="2" id="ty-language-input" placeholder="Slothish" onkeyup="resizeTextArea('ty-language-input')"></textarea>
						</label>
					</div>
				</div>
				
				<!-- Preferences/people you want to meet -->
				<div class="row">
					<div class="col">
						<label class="item item-input item-stacked-label">
							<span class="ty-field-name ty-caps ty-input-label">
								<div class="ty-prof-icon">
									<p class="ty-vertical ion-person-stalker"></p>
								</div>
								People I Want To Meet
							</span>
							<textarea rows="2" id="ty-about-input" placeholder="Frands" onkeyup="resizeTextArea('ty-about-input')"></textarea>
						</label>
					</div>
				</div>
				
				<!-- Interests -->
				<div class="row">
					<div class="col">
						<label class="item item-input item-stacked-label">
							<span class="ty-field-name ty-caps ty-input-label">
								<div class="ty-prof-icon">
									<p class="ty-vertical ion-happy"></p>
								</div>
								Interests
							</span>
							<textarea rows="2" id="ty-about-input" placeholder="Space travel" onkeyup="resizeTextArea('ty-about-input')"></textarea>
						</label>
					</div>
				</div>
				
				<!-- About -->
				<div class="row">
					<div class="col">
						<label class="item item-input item-stacked-label">
							<span class="ty-field-name ty-caps ty-input-label">
								<div class="ty-prof-icon">
									<p class="ty-vertical ion-person"></p>
								</div>
								About
							</span>
							<textarea rows="2" id="ty-about-input" placeholder="O hai der" onkeyup="resizeTextArea('ty-about-input')"></textarea>
						</label>
					</div>
				</div>
			</div>
			
			<!-- SAVE CHANGES BUTTON -->
			<a class="ty-done-centered ty-caps ty-button button button-small" ng-click="update()" href="#">Save</a>
		</div>
	</ion-content>
</ion-view>