<ion-view title="Add Meeting">
    <ion-content class="ty-friendlist">
			<a href="#/tab/add_meeting"><div class="ty-friend-section">
				<div class="row ty-divider">
					<!-- Profile picture -->
					<div class="col col-25">
						<div class="ty-prof-pic-list ty-prof-pic" style="background-image:url('https://www.dropbox.com/s/rpz7pg7wmbte16k/me.jpg?raw=1');background-size:cover;"></div>
					</div>
					
					<!-- Name -->
					<div class="col col-75">
						<div class="ty-friend-info">
							<h2 class="ty-caps">Sloth Person</h2>
						</div>
					</div>
				</div>
			</div></a>
			<div class="ty-friend-section">
				<div class="row ty-divider">
					<!-- Profile picture -->
					<div class="col col-25">
						<div class="ty-prof-pic-list ty-prof-pic" style="background-image:url('https://www.dropbox.com/s/nplscfkmdv2vr31/128-4.jpg?raw=1');background-size:cover;"></div>
					</div>
					
					<!-- Name -->
					<div class="col col-75">
						<div class="ty-friend-info">
							<h2 class="ty-caps">Martin</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="ty-friend-section">
				<div class="row ty-divider">
					<!-- Profile picture -->
					<div class="col col-25">
						<div class="ty-prof-pic-list ty-prof-pic" style="background-image:url('https://www.dropbox.com/s/x59ngk8zevotl4z/S1e16_Finn_afraid_of_the_ocean.jpg?raw=1');background-size:cover;"></div>
					</div>
					
					<!-- Name -->
					<div class="col col-75">
						<div class="ty-friend-info">
							<h2 class="ty-caps">Finn</h2>
						</div>
					</div>
				</div>
			</div>
	</ion-content>
</ion-view>