<ion-view view-title="Login" name="login-view" hide-nav-bar="true">
  <ion-content class="ty-login">
	<div class="ty-logo"><img src="https://www.dropbox.com/s/jg1za57m9nkl5pu/logo.svg?raw=1" /></div>
	<div class="ty-login-title">
		<h1 class="ty-caps">Takeyout</h1>
	</div>
	<div class="ty-login-tagline">
		<h2>Lunch with locals.</h2>
		<h2>Globally.</h2>
	</div>
    <button class="ty-button ty-caps ty-login-button button icon icon-left ion-social-linkedin" ng-click="login()">Log in with LinkedIn</button>
  </ion-content>
</ion-view>
