<ion-view cache-view="false" title="Profile">
	<!-- Profile page -->
    <ion-content class="ty-profile">
		<div class="ty-prof-header ty-divider">
			<div class="ty-prof-bg" style="background-image:url('img/city.jpg');background-size:cover;-webkit-filter: blur(4px);filter:blur(4px);"></div>
			<div class="ty-prof-header-overlay"></div>

			<div class="ty-prof-header-info">
				<div class="ty-circle-container ty-prof-pic-container">
					<div class="ty-prof-pic ty-vertical" style="background-image:url({{picFull}});background-size:cover;"></div>
				</div>

				<h2 class="ty-caps">{{name}}</h2>
				<h6>{{headline}}</h6>
				
				<div class="ty-user-stars" ng-controller="ShowReviewsCtrl" ng-click="openReviewModal()">
					<!-- User page stars
					<!-- Add class "ty-star-selected" to fill in star
					<!-- Add class "ty-star-half" to fill in half star -->
					<div class="row">	
						<div class="col col-25"></div>
						<div class="col col-50">
							<p class="ty-vertical ty-star ty-star-selected icon ion-star"></p>
							<p class="ty-vertical ty-star ty-star-selected icon ion-star"></p>
							<p class="ty-vertical ty-star ty-star-selected icon ion-star"></p>
							<p class="ty-vertical ty-star ty-star-half icon ion-star"></p>
							<p class="ty-vertical ty-star icon ion-star"></p>
						</div>
						<div class="col col-25"></div>
					</div>
					<div class="ty-num-ratings row">
						<div class="col col-25"></div>
						<div class="col"><h2>10 User Ratings</h2></div>
						<div class="col col-25"></div>
					</div>
				</div>
				
				<!--<div class="ty-likes-meetups" ng-controller="ShowReviewsCtrl" ng-click="openReviewModal()">
					<div class="ty-likes">
						<h1>3</h1>
						<h3>Likes</h3>
					</div>
					<div class="ty-meetups">
						<h1>3</h1>
						<h3>Meetups</h3>
					</div>
				</div>-->
			</div>

			<a class="button button-small ty-caps ty-button ty-add-button ty-edit-button" href="#/tab/edit_profile">Edit</a>
		</div>

		<ul class="ty-prof-content ty-divider">
			<li>
				<div class="ty-prof-icon">
					<p class="ty-vertical icon icon-left ion-home"></p>
				</div>
				<p class="ty-prof-facts"><em class="ty-caps"> Hometown:</em> {{hometown}}</p>
			</li>
			<li>
				<div class="ty-prof-icon">
					<p class="ty-vertical icon icon-left ion-chatbubbles"></p>
				</div>
				<p class="ty-prof-facts"><em class="ty-caps"> Speaks:</em> {{languages}}</p>
			</li>
			<li>
				<div class="ty-prof-icon">
					<p class="ty-vertical icon icon-left ion-person-stalker"></p>
				</div>
				<p class="ty-prof-facts"><em class="ty-caps"> People I Want To Meet:</em> {{preferences}}</p>
			</li>
			<li>
				<div class="ty-prof-icon">
					<p class="ty-vertical icon icon-left ion-happy"></p>
				</div>
				<p class="ty-prof-facts"><em class="ty-caps"> Interests:</em> {{interests}}</p>
			</li>
		</ul>

		<div class="ty-prof-content">
			<em class="ty-caps">About {{firstName}}</em>
			<p class="ty-prof-about">{{bio}}</p>
		</div>
    </ion-content>
	
	<!-- Review overlay -->
	<script id="review-modal.html" type="text/ng-template">
		<div class="ty-reviews-modal">
			<div class="modal">
				<div class="bar bar-header ty-caps ty-nav-bar">
					<div class="row">
						<div class="col col-10 ty-vertical">
							<div class="ty-modal-icon" ng-click="closeReviewModal()">
								<h1 class="icon icon-left ion-chevron-left"></h1>
							</div>
						</div>
						
						<div class="col col-90 ty-vertical">
							<div class="ty-modal-header">
								<h1>Reviews for Sloth</h1>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="row ty-top-tabs bar bar-subheader">
					<div class="col ty-tab-selected"><h2 class="ty-vertical ty-caps">Positive (3)</h2></div>
					<div class="col ty-tab"><h2 class="ty-vertical ty-caps">Neutral (0)</h2></div>
					<div class="col ty-tab"><h2 class="ty-vertical ty-caps">Negative (0)</h2></div>
				</div>-->
				<ion-content class="ty-reviews">	
					<div class="ty-all-reviews">
						<div class="ty-user-review">
							<div class="row">
								<!-- Profile -->
								<div class="col col-20">
									<div class="ty-prof-pic-list" style="background-image:url('img/me.jpg');background-size:cover;"></div>
								</div>
								
								<!-- Name, date, & time -->
								<div class="col col-40">
									<h2 class="ty-caps">Sloth Person</h2>
								</div>
								<div class="col col-40 ty-review-date">
									<h2 class="ty-caps">Jul 2014</h2>
								</div>
							</div>
							<div class="row ty-divider">
								<div class="col col-20"></div>
								<div class="col col-80">
									<h6>Halp I'm a lonely sloth oh so lonely</h6>
									
									<div class="ty-review-stars">
										<p class="ty-star ty-star-selected icon ion-star"></p>
										<p class="ty-star ty-star-selected icon ion-star"></p>
										<p class="ty-star ty-star-selected icon ion-star"></p>
										<p class="ty-star ty-star-selected icon ion-star"></p>
										<p class="ty-star ty-star-selected icon ion-star"></p>
									</div>
									
									<p>So alone that I have to write my own reviews.</p>
								</div>
							</div>
						</div>
						
						<div class="ty-user-review">
							<div class="row">
								<!-- Profile -->
								<div class="col col-20">
									<div class="ty-prof-pic-list" style="background-image:url('img/me.jpg');background-size:cover;"></div>
								</div>
								
								<!-- Name, date, & time -->
								<div class="col col-40">
									<h2 class="ty-caps">Sloth Person</h2>
								</div>
								<div class="col col-40 ty-review-date">
									<h2 class="ty-caps">Jul 2014</h2>
								</div>
							</div>
							
							<div class="row ty-divider">
								<div class="col col-20"></div>
								<div class="col col-80">
									<h6>Halp I'm a lonely sloth oh so lonely</h6>
									
									<div class="ty-review-stars">
										<p class="ty-star ty-star-selected icon ion-star"></p>
										<p class="ty-star ty-star-selected icon ion-star"></p>
										<p class="ty-star ty-star-selected icon ion-star"></p>
										<p class="ty-star ty-star-selected icon ion-star"></p>
										<p class="ty-star ty-star-selected icon ion-star"></p>
									</div>
									
									<p>I'm normal, right? You'll be my friend, right? I'll be a good friend, I promise. I promise with all my little sloth heart and soul.</p>
								</div>
							</div>
						</div>
						
						<div class="ty-user-review">
							<div class="row">
								<!-- Profile -->
								<div class="col col-20">
									<div class="ty-prof-pic-list" style="background-image:url('img/me.jpg');background-size:cover;"></div>
								</div>
								
								<!-- Name, date, & time -->
								<div class="col col-40">
									<h2 class="ty-caps">Sloth Person</h2>
								</div>
								<div class="col col-40 ty-review-date">
									<h2 class="ty-caps">Jul 2014</h2>
								</div>
							</div>
							<div class="row ty-divider">
								<div class="col col-20"></div>
								<div class="col col-80">
									<h6>Halp I'm a lonely sloth oh so lonely</h6>
									
									<div class="ty-review-stars">
										<p class="ty-star ty-star-selected icon ion-star"></p>
										<p class="ty-star ty-star-selected icon ion-star"></p>
										<p class="ty-star ty-star-selected icon ion-star"></p>
										<p class="ty-star ty-star-selected icon ion-star"></p>
										<p class="ty-star ty-star-selected icon ion-star"></p>
									</div>
									
									<p>Pls love me. :(</p>
								</div>
							</div>
						</div>
					</div>
				</ion-content>
				
				<!--<div class="bar bar-footer"><button class="ty-review-button ty-button ty-caps button" ng-controller="TypeReviewsCtrl" ng-click="openTypeReviewModal()">Add Review</button></div>-->
			</div>
		</div>
	</script>
</ion-view>