<ion-view title="Profile">
    <ion-content class="ty-profile">
		<div class="ty-prof-header ty-divider">
			<div class="ty-prof-bg" style="background-image:url('https://www.dropbox.com/s/wyhpeo82nl0vl6o/nature-forest-waterfall-jungle.jpg?raw=1');background-size:cover;-webkit-filter: blur(3px);filter:blur(3px);"></div>
			<div class="ty-prof-header-overlay"></div>
			
			<div class="ty-prof-header-info">
				<div class="ty-circle-container ty-prof-pic-container">
					<div class="ty-prof-pic ty-vertical" style="background-image:url('https://www.dropbox.com/s/rpz7pg7wmbte16k/me.jpg?raw=1');background-size:cover;"></div>
				</div>
			
			
				<h2 class="ty-caps">Sloth Person</h2>
				<h6>Mascot at UstartX Inc.</h6>
			</div>
			
			<a class="button button-small ty-caps ty-button ty-add-button ty-edit-button" href="#">Edit</a>
		</div>
		
		<ul class="ty-prof-content ty-divider">
			<li>
				<div class="ty-prof-icon">
					<p class="ty-vertical icon icon-left ion-home"></p>
				</div>
				<p class="ty-prof-facts"><em class="ty-caps"> Hometown:</em> The Amazon</p>
			</li>
			<li>
				<div class="ty-prof-icon">
					<p class="ty-vertical icon icon-left ion-chatbubbles"></p>
				</div>
				<p class="ty-prof-facts"><em class="ty-caps"> Speaks:</em> Slothish (native)</p>
			</li>
			<li>
				<div class="ty-prof-icon">
					<p class="ty-vertical icon icon-left ion-pizza"></p>
				</div>
				<p class="ty-prof-facts"><em class="ty-caps"> Favorite Foods:</em> Leaves</p>
			</li>
		</ul>

		<div class="ty-prof-content">
			<em class="ty-caps">About Sloth</em>
			<p class="ty-prof-about">Nam ac mauris est. Pellentesque tincidunt ex quam, vitae congue libero sodales a. Sed ut pulvinar mi.</p>
		</div>
    </ion-content>
</ion-view>