<ion-view cache-view="false" title="Messages">
	<!--------------- TRIPS LIST ---------------->
	<ion-content class="ty-trips-list" padding="false">
		<div class="ty-my-trips" ng-repeat="trip in trips" ng-click="getConversations({{trip.id}})">
			<div class="row ty-divider">
			
				<!-- Trip/Hometown icon -->
				<div class="col col-10">
					<div class="ty-circle-container ty-trip-icon-container">
						<div class={{trip.tripClass}}>
							<p class={{trip.icon}}></p>
						</div>
					</div>
				</div>
				
				<!-- Trip location and date -->
				<div class="col col-80">
                    <h2 class="ty-caps">{{trip.displayString}}</h2>
                    <h6>{{trip.dateString}}</h6>
                </div>
				
				<!-- Number of unread messages -->
				<div class="col">
                    <p class="icon icon-right ion-android-mail ty-vertical "></p>
					<div class="ty-num-msg ty-num-unread ty-vertical"><p class="ty-vertical">1</p></div>
					
					<!-- Use code below if no unread messages 
					
					
					<p class="icon icon-right ion-android-drafts ty-vertical"></p>
					<div class="ty-num-msg ty-vertical"><p class="ty-vertical">0</p></div>
					
					-->
                </div>
			</div>
		</div>
	</ion-content>
	
    <div id="ty-connect-empty" style="visibility: hidden">
        <div class="ty-transparent">
            <div id="ty-empty-text" class="ty-caps">
                <h2>You haven't added any trips yet.</h2>
                <p>Pack your bags and add one now.</p>
            </div>
            <img id="ty-trip-arrow" src="img/arrow.svg" />
        </div>
    </div>
	
	<!--------------- FRIEND LIST ---------------->
	<ion-content class="ty-friendlist">
			<a href="#/tab/add_meeting"><div class="ty-friend-section">
				<div class="row ty-divider">
				
					<!-- Profile picture -->
					<div class="col col-25">
						<div class="ty-prof-pic-list ty-prof-pic" style="background-image:url('https://www.dropbox.com/s/rpz7pg7wmbte16k/me.jpg?raw=1');background-size:cover;"></div>
					</div>
					
					<!-- Name -->
					<div class="col col-75">
						<div class="ty-friend-info">
							<h2 class="ty-caps">Sloth Person</h2>
						</div>
					</div>
				</div>
			</div></a>
			<div class="ty-friend-section">
				<div class="row ty-divider">
				
					<!-- Profile picture -->
					<div class="col col-25">
						<div class="ty-prof-pic-list ty-prof-pic" style="background-image:url('https://www.dropbox.com/s/nplscfkmdv2vr31/128-4.jpg?raw=1');background-size:cover;"></div>
					</div>
					
					<!-- Name -->
					<div class="col col-75">
						<div class="ty-friend-info">
							<h2 class="ty-caps">Martin</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="ty-friend-section">
				<div class="row ty-divider">
					<!-- Profile picture -->
					<div class="col col-25">
						<div class="ty-prof-pic-list ty-prof-pic" style="background-image:url('https://www.dropbox.com/s/x59ngk8zevotl4z/S1e16_Finn_afraid_of_the_ocean.jpg?raw=1');background-size:cover;"></div>
					</div>
					
					<!-- Name -->
					<div class="col col-75">
						<div class="ty-friend-info">
							<h2 class="ty-caps">Finn</h2>
						</div>
					</div>
				</div>
			</div>
	</ion-content>
	
	<!-- Empty friend list -->
	<!-- Display when no connections have been made instead of trips -->
	<ion-content class="ty-friend-empty">
		<div class="ty-connect-empty-img">
			<img src="img/sadface.svg" />
		</div>
		<div class="ty-connect-empty-text">
			<h2 class="ty-caps">You don't have any connections yet</h2>
			<div class="ty-subtitle"><h2>It seems you don't have any friends yet! Get out there and get connected!</h2></div>
		</div>
	</ion-content>
</ion-view>