<ion-view title="Requests">
	<ion-content class="ty-calendar">
		<div class="ty-meeting" ng-repeat="request in requests">
			<div class="row ty-meeting-top">
				<!-- Profile -->
				<div class="col col-25">
					<div class="ty-prof-pic-list ty-prof-pic " style="background-image:url({{request.picFull}});background-size:cover;"></div>
				</div>
				
				<!-- Name, date, & time -->
				<div class="col col-50">
					<div class="ty-meeting-info">
						<h2 class="ty-caps">{{request.name}}</h2>
						<h6>{{request.date}} at {{request.time}}</h6><br/>
					</div>
				</div>

				<!-- Month & day -->
				<div class="col">
					<div class="ty-date">
						<div class="ty-month"><h2 class="ty-caps">{{request.month}}</h2></div>
						<div class="ty-day"><h2 class="ty-caps">{{request.day}}</h2></div>
					</div>
				</div>
			</div>
		
			<!-- Location -->
			<div class="ty-meeting-location">
				<div class="row">
					<div class="col"></div>
					<div class="col col-75">
						<h6>{{request.place}}</h6>
						<p>Somewhere in the middle of Ooo</p>
					</div>
				</div>
			</div>
			
			<!-- Decision buttons -->
			<div class="row ty-meeting-decision ty-divider">
				<div class="col">
					<a class="ty-done-centered ty-accept-meeting ty-caps ty-button button button-small icon icon-left ion-checkmark-circled" ng-click="accept({{request}})" href="#">Accept</a>
				</div>
				<div class="col">
					<a class="ty-done-centered ty-decline-meeting ty-caps ty-button button button-small icon icon-left ion-close-circled" ng-click="reject({{request}})" href="#">Decline</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>