<ion-view title="Profile Setup">
	<!-- Profile setup page -->
	<ion-content class="ty-setup">
		<table class="ty-setup-prog">
			<tr>
				<td class="ty-setup-prog-item">
					<div class="ty-circle-container ty-setup-icon-container">
						<div class="ty-setup-current ty-setup-icon">
							<p class="ty-vertical">1</p>
						</div>
					</div>
				</td>
				<td class="ty-setup-prog-item">
					<div class="ty-prog-bar"></div>
				</td>
				<td class="ty-setup-prog-item">
					<div class="ty-circle-container ty-setup-icon-container">
						<div class="ty-setup-icon">
							<p class="ty-vertical">2</p>
						</div>
					</div>
				</td>
				<td class="ty-setup-prog-item">
					<div class="ty-prog-bar"></div>
				</td>
				<td class="ty-setup-prog-item">
					<div class="ty-circle-container ty-setup-icon-container">
						<div class="ty-setup-icon">
							<p class="ty-vertical">3</p>
						</div>
					</div>
				</td>
			</tr>
		</table>	
		
		<!-- Step 1 -->
		<div class="ty-setup-content" id="ty-setup-step-1">
			<div class="ty-setup-header">
				<h2 class="ty-caps">Step 1</h2>
				<h6 class="ty-caps">Your Hometown</h6>
			</div>
			
			<div class="ty-setup-description">
				<p>Your <em>hometown</em> will be used so that you can always connect with others in your most frequented area.</p>
			</div>
		
		
			<div class="ty-setup-form">
				<label class="item item-input item-stacked-label">
					<span class="ty-field-name ty-caps ty-input-label">
						<div class="ty-form-icon">
							<p class="ty-vertical icon-left ion-home"></p>
						</div>
						Hometown
					</span>
					<input class="ty-input-label" type="text" placeholder="Menlo Park, USA" id="hometownTextField">
				</label>
			</div>
			
			<!--<a class="ty-caps ty-button ty-setup-button ty-setup-back-button button button-small icon icon-left ion-chevron-left" href="#">Back</a>-->
			
			<a class="ty-caps ty-button ty-setup-button ty-setup-next-button button button-small icon icon-right ion-chevron-right" ng-click="firstToSecondPage()" href="#">Next</a>
		</div>
		
		<!-- Step 2 -->
		<div class="ty-setup-content" id="ty-setup-step-2">
			<div class="ty-setup-header">
				<h2 class="ty-caps">Step 2</h2>
				<h6 class="ty-caps">People You Want To Meet</h6>
			</div>
			
			<div class="ty-setup-description">
				<p>What kinds of people do you want to meet? Tell us your preferences. (Don't worry, you can always change this later!)</p>
			</div>
		
			<div class="ty-setup-form">
				<label class="item item-input item-stacked-label">
					<span class="ty-field-name ty-caps ty-input-label">
						<div class="ty-form-icon">
							<p class="ty-vertical icon-left ion-levels"></p>
						</div>
						Preferences
					</span>
					<textarea rows="2" id="ty-pref1" placeholder="Industry name or job function" onkeyup="resizeTextArea('ty-pref1')"></textarea>
				</label>
			</div>
			
			<a class="ty-caps ty-button ty-setup-button ty-setup-back-button button button-small icon icon-left ion-chevron-left" ng-click="secondToFirstPage()" href="#">Back</a>
			
			<a class="ty-caps ty-button ty-setup-button ty-setup-next-button button button-small icon icon-right ion-chevron-right" ng-click="secondToThirdPage()" href="#">Next</a>
		</div>
		
		<!-- Step 3 -->
		<div class="ty-setup-content" id="ty-setup-step-3">
			<div class="ty-setup-header">
				<h2 class="ty-caps">Step 3</h2>
				<h6 class="ty-caps">Tell Us About Yourself</h6>
			</div>
			
			<div class="ty-setup-description">
				<p>We want to get to you know a little better!</p>
			</div>
		
		
			<div class="ty-setup-form">
				<label class="item item-input item-stacked-label">
					<span class="ty-field-name ty-caps ty-input-label">
						<div class="ty-prof-icon">
							<p class="ty-vertical icon-left ion-pizza"></p>
						</div>
						Favorite Foods
					</span>
					<input class="ty-input-label" type="text" placeholder="Ex. Ramen, ice cream" id="favFoods">
				</label>
				
				<div class="row">
					<div class="col">
						<label class="item item-input item-stacked-label">
							<span class="ty-field-name ty-caps ty-input-label">
								<div class="ty-form-icon">
									<p class="ty-vertical icon-left ion-person"></p>
								</div>
								About
							</span>
							<textarea rows="2" id="ty-about-input" placeholder="What makes you, YOU?" onkeyup="resizeTextArea('ty-about-input')"></textarea>
						</label>
					</div>
				</div>
				
				<div class="row">
					<div class="col">
						<label class="item item-input item-stacked-label">
							<span class="ty-field-name ty-caps ty-input-label">
								<div class="ty-form-icon">
									<p class="ty-vertical icon-left ion-chatbubbles"></p>
								</div>
								Languages 
							</span>
							<textarea rows="2" id="ty-language-input" placeholder="Which languages can you speak?" onkeyup="resizeTextArea('ty-language-input')"></textarea>
						</label>
					</div>
				</div>
			</div>
			
			<a class="ty-caps ty-button ty-setup-button ty-setup-back-button button button-small icon icon-left ion-chevron-left" ng-click="thirdToSecondPage()"href="#">Back</a>
			
			<a class="ty-caps ty-setup-button ty-setup-next-button ty-setup-done-button ty-button button button-small" ng-click="finish()" href="#">Done</a>
		</div>
	</ion-content>
</ion-view>