<ion-tabs class="tabs-icon-top tabs-striped tabs-stable">
  <ion-tab class="ty-tabs-style ty-caps ty-tabs" title="Connect" icon="ion-ios-list" href="#/tab/connect">
    <ion-nav-view name="connect-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab class="ty-tabs-style ty-caps ty-tabs" title="Calendar" icon="ion-ios-calendar" href="#/tab/calendar">
    <ion-nav-view name="calendar-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab class="ty-tabs-style ty-caps ty-tabs" title="Messages" icon="ion-ios-chatboxes" href="#/tab/messages">
    <ion-nav-view name="messages-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab class="ty-tabs-style ty-caps ty-tabs" title="Me" icon="ion-ios-person" href="#/tab/me">
    <ion-nav-view name="me-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
