<ion-view title="Profile">	
	<!-- Profile page -->
    <ion-content class="ty-profile" id="user-profile">
		<div class="ty-prof-header ty-other-prof ty-divider">
			<div class="ty-prof-bg ty-other-prof" style="background-image:url('https://www.dropbox.com/s/wyhpeo82nl0vl6o/nature-forest-waterfall-jungle.jpg?raw=1');background-size:cover;-webkit-filter: blur(5px);filter:blur(5px);"></div>
			<div class="ty-prof-header-overlay ty-other-prof"></div>

			<div class="ty-prof-header-info ty-other-prof-header">
				<div class="ty-circle-container ty-prof-pic-container">
					<div class="ty-prof-pic ty-vertical" style="background-image:url({{picFull}});background-size:cover;"></div>
				</div>
			
			
				<h2 class="ty-caps">{{name}}</h2>
				<h6>{{headline}}</h6>
			</div>
			
		</div>
		
		<ul class="ty-prof-content ty-divider">
			<li>
				<div class="ty-prof-icon">
					<p class="ty-vertical icon ion-home"></p>
				</div>
				<p class="ty-prof-facts"><em class="ty-caps"> Hometown:</em> {{hometown}}</p>
			</li>
			<li>
				<div class="ty-prof-icon">
					<p class="ty-vertical icon ion-chatbubbles"></p>
				</div>
				<p class="ty-prof-facts"><em class="ty-caps"> Speaks:</em> {{languages}}</p>
			</li>
			<li>
				<div class="ty-prof-icon">
					<p class="ty-vertical icon icon-left ion-person-stalker"></p>
				</div>
				<p class="ty-prof-facts"><em class="ty-caps"> People I Want To Meet:</em> {{favoriteFoods}}</p>
			</li>
			<li>
				<div class="ty-prof-icon">
					<p class="ty-vertical icon icon-left ion-happy"></p>
				</div>
				<p class="ty-prof-facts"><em class="ty-caps"> Interests:</em> {{favoriteFoods}}</p>
			</li>
		</ul>
		

		<div class="ty-prof-content ty-prof-content-margin">
			<em class="ty-caps">About {{firstName}}</em>
			<p class="ty-prof-about">{{bio}}</p>
		</div>
    </ion-content>
	
	<div class="ty-accept-reject" id="acceptreject">
		<div class="ty-choose-circle ty-accept-circle" ng-click="accept()">
			<p class="ty-vertical icon ion-thumbsup"></p>
		</div>
		<div class="ty-choose-circle ty-reject-circle" ng-click="reject()">
			<p class="ty-vertical icon ion-thumbsdown"></p>
		</div>
	</div>
	
	<ion-content class="ty-connect-empty" id="empty">
		<div class="ty-connect-empty-img">
			<img src="img/sadface.svg" />
		</div>
		<div class="ty-connect-empty-text">
			<h2 class="ty-caps">We can't find you any matches</h2>
			<div class="ty-subtitle"><h2>It seems there are no more available matches. Try again later! Or, better yet, invite your friends to Takeyout!</h2></div>
		</div>
	</ion-content>
</ion-view>