<ion-view title="Profile">	
	<!-- Profile page -->
    <ion-content class="ty-profile" id="user-profile">
		<div class="ty-prof-header ty-other-prof ty-divider">
			<div class="ty-prof-bg ty-other-prof" style="background-image:url('img/city.jpg');background-size:cover;-webkit-filter: blur(5px);filter:blur(5px);"></div>
			<div class="ty-prof-header-overlay ty-other-prof"></div>

			<div class="ty-prof-header-info ty-other-prof-header">
				<div class="ty-circle-container ty-prof-pic-container">
					<div class="ty-prof-pic ty-vertical" style="background-image:url({{picFull}});background-size:cover;"></div>
				</div>
			
			
				<h2 class="ty-caps">{{name}}</h2>
				<h6>{{headline}}</h6>
				
				<div class="ty-user-stars" ng-controller="ShowReviewsCtrl" ng-click="openReviewModal()">
					<!-- User page stars
					<!-- Add class "ty-star-selected" to fill in star
					<!-- Add class "ty-star-half" to fill in half star -->
					<div class="row">	
						<div class="col col-25"></div>
						<div class="col col-50">
							<p class="ty-vertical ty-star ty-star-selected icon ion-star"></p>
							<p class="ty-vertical ty-star ty-star-selected icon ion-star"></p>
							<p class="ty-vertical ty-star ty-star-selected icon ion-star"></p>
							<p class="ty-vertical ty-star ty-star-half icon ion-star"></p>
							<p class="ty-vertical ty-star icon ion-star"></p>
						</div>
						<div class="col col-25"></div>
					</div>
					<div class="ty-num-ratings row">
						<div class="col col-25"></div>
						<div class="col"><h2>8 User Ratings</h2></div>
						<div class="col col-25"></div>
					</div>
				</div>
				
				<!--<div class="ty-likes-meetups" ng-controller="ShowReviewsCtrl" ng-click="openReviewModal()">
					<div class="ty-likes">
						<h1>3</h1>
						<h3>Likes</h3>
					</div>
					<div class="ty-meetups">
						<h1>3</h1>
						<h3>Meetups</h3>
					</div>
				</div>-->
			</div>
			
		</div>
		
		<ul class="ty-prof-content ty-divider">
			<li>
				<div class="ty-prof-icon">
					<p class="ty-vertical icon ion-home"></p>
				</div>
				<p class="ty-prof-facts"><em class="ty-caps"> Hometown:</em> {{hometown}}</p>
			</li>
			<li>
				<div class="ty-prof-icon">
					<p class="ty-vertical icon ion-chatbubbles"></p>
				</div>
				<p class="ty-prof-facts"><em class="ty-caps"> Speaks:</em> {{languages}}</p>
			</li>
			<li>
				<div class="ty-prof-icon">
					<p class="ty-vertical icon icon-left ion-person-stalker"></p>
				</div>
				<p class="ty-prof-facts"><em class="ty-caps"> People I Want To Meet:</em> {{favoriteFoods}}</p>
			</li>
			<li>
				<div class="ty-prof-icon">
					<p class="ty-vertical icon icon-left ion-happy"></p>
				</div>
				<p class="ty-prof-facts"><em class="ty-caps"> Interests:</em> {{favoriteFoods}}</p>
			</li>
		</ul>
		

		<div class="ty-prof-content ty-prof-content-margin">
			<em class="ty-caps">About {{firstName}}</em>
			<p class="ty-prof-about">{{bio}}</p>
		</div>
    </ion-content>
	
	<div class="ty-accept-reject" id="acceptreject">
		<div class="ty-choose-circle ty-accept-circle" ng-click="accept()">
			<p class="ty-vertical icon ion-thumbsup"></p>
		</div>
		<div class="ty-choose-circle ty-reject-circle" ng-click="reject()">
			<p class="ty-vertical icon ion-thumbsdown"></p>
		</div>
	</div>
	
	<ion-content class="ty-connect-empty" id="empty">
		<div class="ty-connect-empty-img">
			<img src="img/sadface.svg" />
		</div>
		<div class="ty-connect-empty-text">
			<h2 class="ty-caps">We can't find you any matches</h2>
			<div class="ty-subtitle"><h2>It seems there are no more available matches. Try again later!<br /><br />Or, better yet, you can invite your friends to Takeyout!</h2></div>
		</div>
	</ion-content>
	
	<!-- Match overlay -->
	<script id="match-modal.html" type="text/ng-template">
		<div class="ty-match-modal">
			<div class="modal transparent ty-match" ng-click="closeModal()">
				<div class="ty-match-overlay"></div>
				<h1>You've been connected</h1>
				<p>You and {{modalFirstName}} can now network with one another!</p>
				<div class="ty-match-pics">
					<div class="ty-match-pic-container ty-match-left ty-circle-container ty-prof-pic-container">
						<div class="ty-prof-pic ty-vertical" style="background-image:url({{selfPic}});background-size:cover;"></div>
					</div>
					
					<div class="ty-match-pic-container ty-match-right ty-circle-container ty-prof-pic-container">
						<div class="ty-prof-pic ty-vertical" style="background-image:url({{modalPic}});background-size:cover;"></div>
					</div>
				</div>
				
				<button class="ty-button ty-caps ty-match-button ty-match-message button icon icon-left ion-paper-airplane">Message {{modalName}}</button>
				
				<button class="ty-button ty-caps ty-match-button button">Continue Browsing</button>
			</div>
		</div>
	</script>
	
	<!-- Review overlay -->
	<script id="review-modal.html" type="text/ng-template">
		<div class="ty-reviews-modal">
			<div class="modal">
				<div class="bar bar-header ty-caps ty-nav-bar">
					<div class="row">
						<div class="col col-10 ty-vertical">
							<div class="ty-modal-icon" ng-click="closeReviewModal()">
								<h1 class="icon icon-left ion-chevron-left"></h1>
							</div>
						</div>
						
						<div class="col col-90 ty-vertical">
							<div class="ty-modal-header">
								<h1>Reviews for {{firstName}}</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="row ty-top-tabs bar bar-subheader">
					<div class="col ty-tab-selected"><h2 class="ty-vertical ty-caps">Positive (3)</h2></div>
					<div class="col ty-tab"><h2 class="ty-vertical ty-caps">Neutral (0)</h2></div>
					<div class="col ty-tab"><h2 class="ty-vertical ty-caps">Negative (0)</h2></div>
				</div>
				<ion-content class="ty-reviews">					
					<div class="ty-user-review">
						<div class="row">
							<!-- Profile -->
							<div class="col col-20">
								<div class="ty-prof-pic-list" style="background-image:url('img/me.jpg');background-size:cover;"></div>
							</div>
							
							<!-- Name, date, & time -->
							<div class="col col-40">
								<h2 class="ty-caps">Sloth Person</h2>
							</div>
							<div class="col col-40 ty-review-date">
								<h2 class="ty-caps">Jul 2014</h2>
							</div>
						</div>
						<div class="row ty-divider">
							<div class="col col-20"></div>
							<div class="col col-80">
								<h6>Halp I'm a lonely sloth oh so lonely</h6>
								<p>So alone that I have to write my own reviews.</p>
							</div>
						</div>
					</div>
					
					<div class="ty-user-review">
						<div class="row">
							<!-- Profile -->
							<div class="col col-20">
								<div class="ty-prof-pic-list" style="background-image:url('img/me.jpg');background-size:cover;"></div>
							</div>
							
							<!-- Name, date, & time -->
							<div class="col col-40">
								<h2 class="ty-caps">Sloth Person</h2>
							</div>
							<div class="col col-40 ty-review-date">
								<h2 class="ty-caps">Jul 2014</h2>
							</div>
						</div>
						<div class="row ty-divider">
							<div class="col col-20"></div>
							<div class="col col-80">
								<h6>Halp I'm a lonely sloth oh so lonely</h6>
								<p>I'm normal, right? You'll be my friend, right? I'll be a good friend, I promise. I promise with all my little sloth heart and soul.</p>
							</div>
						</div>
					</div>
					
					<div class="ty-user-review">
						<div class="row">
							<!-- Profile -->
							<div class="col col-20">
								<div class="ty-prof-pic-list" style="background-image:url('img/me.jpg');background-size:cover;"></div>
							</div>
							
							<!-- Name, date, & time -->
							<div class="col col-40">
								<h2 class="ty-caps">Sloth Person</h2>
							</div>
							<div class="col col-40 ty-review-date">
								<h2 class="ty-caps">Jul 2014</h2>
							</div>
						</div>
						<div class="row ty-divider">
							<div class="col col-20"></div>
							<div class="col col-80">
								<h6>Halp I'm a lonely sloth oh so lonely</h6>
								<p>Pls love me. :(</p>
							</div>
						</div>
					</div>
				</ion-content>
				
				<div class="bar bar-footer"><button class="ty-review-button ty-button ty-caps button" ng-controller="TypeReviewsCtrl" ng-click="openTypeReviewModal()">Add Review</button></div>
			</div>
		</div>
	</script>
	
	<!-- Write a review -->
	<script id="type-review-modal.html" type="text/ng-template">
		<div class="ty-reviews-modal">
			<div class="modal">
				<div class="bar bar-header ty-caps ty-nav-bar">
					<div class="row">
						<div class="col col-10 ty-vertical">
							<div class="ty-modal-icon" ng-click="closeTypeReviewModal()">
								<h1 class="icon icon-left ion-chevron-left"></h1>
							</div>
						</div>
						
						<div class="col col-90 ty-vertical">
							<div class="ty-modal-header">
								<h1>Review Sloth</h1>
							</div>
						</div>
					</div>
				</div>
				
				<ion-content class="ty-write-review">
					<div class="row">
						<div class="col">
							<h2>How would you rate your experience with Sloth?</h2>
						</div>
					</div>
					
					<div class="row">
						<div class="col col-25"></div>
						<div class="col col-10"><p class="ty-vertical ty-star icon ion-star" id="ty-star-1"></p></div>
						<div class="col col-10"><p class="ty-vertical ty-star icon ion-star" id="ty-star-2"></p></div>
						<div class="col col-10"><p class="ty-vertical ty-star icon ion-star" id="ty-star-3"></p></div>
						<div class="col col-10"><p class="ty-vertical ty-star icon ion-star" id="ty-star-4"></p></div>
						<div class="col col-10"><p class="ty-vertical ty-star icon ion-star" id="ty-star-5"></p></div>
						<div class="col col-25"></div>
						<!--<div class="col col-33">
							<div id="ty-sad-face">
								<img src="img/sad-unselected.svg" />
								<h6>Negative</h6>
							</div>
						</div>
						<div class="col col-33">
							<div id="ty-neutral-face">
								<img src="img/neutral-unselected.svg" />
								<h6>Neutral</h6>
							</div>
						</div>
						<div class="col col-33">
							<div id="ty-happy-face">
								<img id="ty-happy-face" src="img/happy-unselected.svg" />
								<h6>Positive</h6>
							</div>
						</div>-->
					</div>
					
					<div class="row">
						<div class="col">
							<h2>Describe your experience.</h2>
						</div>
					</div>
					
					<div class="row">		
						<div class="col col-100">
							<label class="item item-input item-stacked-label">
								<!--<span class="ty-field-name ty-caps ty-input-label"></span>-->
								<textarea rows="2" id="ty-about-input" placeholder="My experience was..." onkeyup="resizeTextArea('ty-about-input')"></textarea>
							</label>
						</div>
					</div>
				</ion-content>
				
				<div class="bar bar-footer"><button class="ty-review-button ty-button ty-caps button">Submit Review</button></div>
			</div>
		</div>
	</script>
</ion-view>